*{
    box-sizing: border-box;
}


body{
    background: #041a40;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.grass{
    background: green;
    display: flex;
    position:absolute;
    height: 60px;
    width: 1300px;
    bottom: 0px;
}

.moon{
    position:absolute;
    height: 50px;
    width: 50px;
    
}
