*{
    box-sizing: border-box;
}


body{
    background: #041a40;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.grass{
    background: green;
    display: flex;
    position:absolute;
    height: 60px;
    width: 1300px;
    bottom: 0px;
}

.moon{
    position:absolute;
    border-radius: 50%;
    top: 40px;
    right: 40px;
    height: 50px;
    width: 50px;
    background: #F0F0F0;
}

.parkinglott{
    position: absolute;
    bottom: 0px;
    right: 50px;
    background: black;
    height:60px;
    width: 500px;
}
.hotel{
    position: absolute;
    left: 416px;
    top: 40px;
    height: 500px;
    width: 400px;
    background: grey;
}
.door{
    position: absolute;
    background: #654321;
    height: 100px;
    width: 50px;
    bottom: 60px;
    left: 600px;
}
.window1{
    position: absolute;
    width: 50px;
    height: 50px;
    background: yellow;
    bottom: 100px;
    left: 500px;
    z-index: 100;

}

.window2{
    position: absolute;
    background: black;
    height: 50px;
    width: 50px;
    bottom: 100px;
    left: 700px;
}

.window3{
    position: absolute;
    background: black;
    height: 50px;
    width: 50px;
    bottom: 400px;
    left: 500px;
}
.window4{
    position: absolute;
    background: yellow;
    height: 50px;
    width: 50px;
    bottom: 400px;
    left: 700px;
}
