@import url('https://fonts.googleapis.com/css2?family+Press+Start+2P&display=swap');
*{
    box-sizing: border-box;
}


body{
    background-color: #516dff;
    color: #ffffff;
    font-family: "Press Start 2P", system-ui;


}
