*{
    box-sizing: border-box;
}

body{
    background: red;
    align-items: center;
    height: 100vh;
    justify-content: center;
    margin: 0;
    display: flex;

}
.box{
    background: blue;
    border: 0;
    height: 50px;
    width: 50px;
    align-items: center;
}
